<%= provide(:title, "App Version") %>

<div id="app_version">
  <h1>Current App Version - <b>Alpha 0.0.3</b></h1>
  <h2>Список изменений - Alpha 0.0.3</h2>
  <ul class="patch_add">
    <li>Добавлена возможность загружать свои изображения в профиль.</li>
    <li>Добавлено изображение по-умолчанию для пользовательского профиля.</li>
    <li>Убрана ошибка при попытке отправить пустое сообщение.</li>
    <li>Кнопка "Отправить сообщение" теперь появляется только если сообщение не пустое.</li>
    <li>Добавлено новое поле: "Login", которое включает в себя ник-нейм пользователя.</li>
    <li>Авторизация теперь произодится по логину пользователя, а не по электронной почте.</li>
    <li>На почту пользователя теперь оправляется уведомление о регистрации.</li>
  </ul>
  <h3>Исправлено:</h3>
  <ul class="patch_fixed">
    <li>При редактировании профиля нужно было обязательно изменить пароль.</li>
  </ul>

</div>