<%= provide(:title, "App Version") %>

<div class="container">
<<<<<<< HEAD
  <h1>Current App Version - Alpha 0.0.2</h1>
=======
  <h1>Application Version - Alpha 0.0.2</h1>
>>>>>>> fd807bd2050b2487d2564e3900c5f67e7f02f16c
</div>