<% provide(:title, 'Home') %>

<div class="slider">
  <div class="container">
    <div class="main-table">
      <h1>Capybara Studio</h1>
      <%= link_to "Sing up now!", singup_path , class: 'btn' %>
      <div class="helper"></div>
    </div>
  </div>
</div>