<%= form_for(current_user.relationships.find_by(followed_id: @user),
             html: { method: :delete }, remote: true) do |f| %>
  <label class="fa fa-user-times"><%= f.submit "" %></label>
<% end %>