<% provide(:title, "Friends") %>

<div class="tile users">
  <h3>Friends:</h3>
  <% if @users.any? %>
    <div class="user_avatars">
      <% @users.each do |user| %>
        <%= link_to gravatar_for(user), user, class: "small-avatar" %>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @users, class: "users_pagin" %>
</div>