<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="stat friends">
    <i class="fa fa-users"></i>
    <strong id="followed">
      <%= @user.followed_users.count %>
    </strong>
  </a>
  <a href="<%= microposts_user_path(@user) %>" class="stat comments">
    <i class="fa fa-comments"></i>
    <strong>
      <%= @user.microposts.count %>
    </strong>
  </a>
  <a href="#" class="stat views">
    <i class="fa fa-eye"></i>
    <strong>
      0
    </strong>
  </a>
  <a href="#" class="stat rating">
    <i class="fa fa-star-half-o"></i>
    <strong>
      0
    </strong>
  </a>
</div>