<% if feed_item.user.id != current_user.id %>

  <li id="<%= feed_item.id %>">
    <b class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </b>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <b><%= time_ago_in_words(feed_item.created_at) %></b> ago.
    </span>
  </li>
  
<% end %>