<footer>
  <div class="container clearfix">
<<<<<<< HEAD
    <p id="copyright">&copy; 2016 | Cosy-Network by Sentyurin V.</p>
=======
    <p id="copyright">&copy; 2016 | Capybara Studio by Sentyurin V.</p>
>>>>>>> fd807bd2050b2487d2564e3900c5f67e7f02f16c
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path  %></li>
        <li><%= link_to "News",    '#'  %></li>
        <li><%= link_to "Alpha Version", app_version_path %></li>
      </ul>
    </nav>
  </div>
</footer>