<header>
  <div class="container clearfix">
    <%= link_to "Capybara Studio", root_path, id: 'logo' %>
    <nav>
      <ul>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Sing In", singup_path %></li>
      </ul>
    </nav>
  </div>
</header>